body {
    font-family: 'Lucida Sans Unicode';  
    background-color: RGBA(218,183,142,0.44); 
}

h1{
    font-size: 3em;
    margin: 10px 10px 5px 30px;
}

h2, h3 {
    font-size: 1.5em;
    color: rgb(20,52,80);
    margin: 5px 5px 5px 30px;
}

img {
    border-radius: 5%;
    box-shadow: 8px 9px 8px 6px rgba(0,0,0,0.43);
}

li {
    margin: 1em;
}

.experiencia_laboral {
    width: 30%;
    box-sizing: border-box;
    border-radius: 0px 0px 100px 0px;
    background: #eaefff;
    border: 3px solid #dadde9;
    margin: 1em;
}

.gusta_hacer {
    width: 20%;
    box-sizing: border-box;
    border-radius: 0px 0px 100px 0px;
    background: #dadde9;
    border: 3px solid #eaefff;
    margin: 1em;
}
